:root {
  --primary_color: #b5192a;
  --primary_light: rgba(181, 25, 42, 0.5);
  --black_color: #161414;
  --grey_color: #292828;
  --transition: 300ms ease;
  --head_font: 3rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  line-height: 1.6;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  display: inline-block;
  text-decoration: none;
  color: #fff;
}

p {
  font-size: 16px;
}

img {
  object-fit: cover;
  display: block;
  width: 100%;
}

.container {
  max-width: 85%;
  height: 100%;
  margin: auto;
}

.container-2 {
  max-width: 80%;
  height: 100%;
  margin: auto;
}

.text_center {
  text-align: center;
}

/* Link arrow animation */

.linkAnima {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: var(--transition);
  padding: 1.5rem;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
}

.linkAnima:hover {
  color: var(--primary_color);
  transform: translateX(15px);
  display: flex;
}

.arrow {
  position: relative;
  margin: 0 10px;
  width: 2px;
  height: 18px;
  background: var(--primary_color);
  display: inline-block;
  transition: 300ms ease;
  z-index: 0;
}

a:hover .arrow::before {
  content: "";
  position: absolute;
  width: 1.3px;
  height: 10px;
  z-index: 1;
  background: var(--primary_color);
  transform-origin: left;
  transform: rotate(-140deg) translateY(-15px) scale(0);
  top: -14px;
  left: 8px;
  animation: arrowShow1 500ms 300ms ease forwards;
}

@keyframes arrowShow1 {
  from {
    transform: rotate(-140deg) translateY(-15px) scale(0);
  }
  to {
    transform: rotate(-140deg) translateY(-15px) scale(1);
  }
}

a:hover .arrow::after {
  content: "";
  position: absolute;
  width: 1.3px;
  height: 10px;
  z-index: 1;
  background: var(--primary_color);
  transform-origin: left;
  transform: rotate(140deg) translateY(-15px) scale(0);
  top: -14px;
  left: -5px;
  animation: arrowShow2 500ms 200ms ease forwards;
}

@keyframes arrowShow2 {
  from {
    transform: rotate(140deg) translateY(-15px) scale(0);
  }
  to {
    transform: rotate(140deg) translateY(-15px) scale(1);
  }
}

a:hover .arrow {
  transform: rotate(90deg) translateY(-8px);
}

/* Hover overlay */
.hover_overlay {
  position: relative;
  z-index: 1;
  padding: 0.3rem 0;
}

.hover_overlay:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60%;
  background-color: var(--primary_color);
  z-index: -1;
  transform: scaleY(0);
  transform-origin: bottom;
  transition: 300ms ease-in-out;
  display: inline-block;
}

.hover_overlay:hover:before {
  transform: scaleY(1);
}

.hover_overlay_2 {
  position: relative;
  z-index: 1;
  padding: 0.3rem 0;
}

.hover_overlay_2:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80%;
  background-color: var(--primary_color);
  z-index: -1;
  transform: scaleY(0);
  transform-origin: bottom;
  transition: 300ms ease-in-out;
  display: inline-block;
}

.hover_overlay_2:hover:before {
  transform: scaleY(1);
}



/* btn */
.btn,
.btn {
  position: relative;
  color: #000;
  font-weight: 500;
  padding: 0.75rem 2.3rem;
  margin: 0.75rem;
  border: 1px solid var(--primary_color);
  transition: transform var(--transition);
}

.btn:hover,
.btn:hover{
  color: #fff;
}

.btn::before,
 .btn::before {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  padding: 0.75rem 2.3rem;
  background-color: var(--primary_color);
  transform-origin: top;
  transition: transform var(--transition);
  transform: scaleX(0);
}

 .btn:hover::before,
 .btn:focus::before {
  transform: scaleX(1);
}


h1 {
  font-size: 4rem;
}

@media screen and (max-width: 600px) {
  h1 {
  font-size: 2rem;
}
}