<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Contact Form Submission</title>
  </head>
  <body>
    <h1>Contact Form Submission</h1>
    <p>Name: <b><%= name %></b></p>
    <p>Email: <b><%= email %></b></p>
    <p>Phone: <b><%= phone %></b></p>
    <p>Department: <b><%= department %></b></p>
  </body>
</html>
