.min-group-showcase-parent {
    background: url('../../assets/images/parents.jpg') no-repeat center center/cover;
    height: 100vh;
    width: 100%;
}

/* @media screen and (max-width: 600px) {
    .min-group-showcase-parent {
    height: 70vh;
}

} */


/* parent gen  */



.pg-case {
    width: 100%;
    background: #fff;
}

.pg-show {
    margin-bottom: 5rem;
}

.pg {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}

.pg-left {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-right: 3rem;
}

.pgl-1 {
    font-size: 25px;
    font-weight: 700;
    color: #000;
    margin-bottom: 1rem;
}

.pgl-2 {
    font-size: 16px;
    font-weight: 600;
    color: #000;
    margin-bottom: 1rem;
}


.pgl-3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: .7rem;
}

.pgl-3 .nxt-l3 .btn {
    margin: 0;
}

.pgl-3 .nxt-l3 .btn, .pgl-3 .nxt-l4 .btn {
    font-size: 1.1rem;
}

.pg-right {
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 25rem;
    position: relative;
}

.pgr-pic {
    width: 95%;
    position: absolute;
    top: -7rem;
    right: 0;
    z-index: 2;
}

.pgr-pic img {
    object-fit: cover;
    height: 450px;
    width: 100%;
}

.pgr-shp {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 24% 100%);
    height: 270px;
    width: 100%;
    background: var(--primary_color);
    position: absolute;
    z-index: 1;
    top: 8rem;
}



@media screen and (max-width: 950px) {
    
    .pg {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    max-width: 85%;
    margin: auto;
}

.pg-left {
    width: 100%;
    margin-right: 0;
}


.pg-right {
    width: 100%;
    margin-bottom: 23rem;
}

.pgr-pic {
    width: 90%;
    top: -7rem;
    right: 30px;
}

.pgr-pic img {
    object-fit: cover;
    height: 400px;
    width: 100%;
}

.pgr-shp {
    height: 250px;
    top: 5rem;
}

.pgl-3 {
    justify-content: space-around;
    margin-top: .7rem;
}

.pgl-2 {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

}

@media screen and (max-width: 600px) {
    
    .pgr-pic {
    width: 90%;
    top: -4rem;
    right: 15px;
}

.pgr-pic img {
    height: 220px;
}

.pgr-shp {
    height: 120px;
    top: 4rem;
}

.pg-right {
    width: 100%;
    margin-bottom: 16rem;
}

.pgl-3 {
    flex-direction: column;
    margin-top: 1rem;
    justify-content: flex-start;
    align-items: flex-start;
}

.pgl-3 .nxt-l3 {
    margin-bottom: 1rem;
}

.pgl-3 .nxt-l4 .btn {
    margin: 0;
}

}




/* parent gen end */




/* RESET  */


#reset-case {
    width: 100%;
    background: #fff;
}

.reset {
     display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.rll {
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40rem;
    position: relative;
}

.rpic {
    width: 95%;
    position: absolute;
    top: 5rem;
    left: 0;
    z-index: 2;
}

.rpic img {
    object-fit: cover;
    height: 400px;
    width: 100%;
}

.rshp {
    clip-path: polygon(0 0, 100% 0%, 79% 100%, 0% 100%);
    height: 250px;
    width: 100%;
    background: var(--primary_color);
    position: absolute;
    top: 17rem;
    z-index: 1;
}


.rrr {
    width: 29%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 3rem;
}

.rrr-1 {
    font-size: 25px;
    font-weight: 700;
    color: #000;
    margin-bottom: 1rem;
}

.rrr-2 {
    font-size: 16px;
    font-weight: 600;
    color: #000;
    margin-bottom: 1rem;
    line-height: 1.6;
}

.rrr-3 {
    margin-top: 1rem;
}
.rrr-3 .btn {
    margin: 0;
}


@media screen and (max-width: 950px) {
    
    .reset-show {
        max-width: 85%;
        margin: auto;
    }

    .reset {
    flex-direction: column;
    width: 100%;
}

    .rll {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 32rem;
}

.rpic {
    width: 95%;
    top: 5rem;
    left: 15px;
}

.rpic img {
    object-fit: cover;
    height: 350px;
    width: 100%;
}

.rshp {
    height: 200px;
    top: 16rem;
}

.rrr {
    width: 100%;
    margin-left: 0;
    margin-bottom: 6rem;
}

}


@media screen and (max-width: 600px) {
    .rpic {
    width: 92%;
    top: 1rem;
    left: 10px;
}

.rpic img {
    object-fit: cover;
    height: 180px;
}

.rshp {
    height: 110px;
    top: 6rem;
}

    .rll {
    margin-bottom: 15rem;
}
}


/* RESET END */


/* PARENT SEMINAR  */

.pasem-wrapper {
    width: 100%;
    background: #fff;
}

.pasem-case {
    max-width: 80%;
    margin: auto;
}

.pasem-show {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 5rem 0;
}

.pasem-pic {
    width: 700px;
    height: 700px;
}

.pasem-pic img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.pasem-txt {
    font-size: 25px;
    font-weight: 800;
    color: #000;
    margin-top: 3rem;
}

@media screen and (max-width: 800px) {
    .pasem-pic {
    width: 600px;
    height: 700px;
}
}

@media screen and (max-width: 600px) {
    .pasem-pic {
    width: 80%;
    height: 400px;
}

.pasem-pic img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.pasem-show {
    margin: 1rem 0;
    margin-bottom: 4rem;
}
}


/* PARENTS MINISTRIES  */

.ngp-wrapper {
    width: 100%;
    background-color: #fff;
}

.ngp-case {
    max-width: 85%;
    margin: auto;
}

.ngp-show {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.ngp-txt {
    font-size: 2rem;
    font-weight: 800;
    color: #000;
    margin: 3rem 0;
    text-align: center;
    margin-bottom: 6rem;
}


@media screen and (max-width: 600px) {
    .ngp-txt {
    font-size: 1.5rem;
    margin-bottom: 6rem;
}
}

/* PARENTS MINISTRIES END */



/* PARENT SEMINAR END  */



/* PODCAST  */


#ppcast-wrapper {
    width: 100%;
    background: #344d61;
}


.ppcast-case {
    max-width: 85%;
    margin: auto;
}

.ppcast-show {
    padding: 6rem 0;
}

.ppcast {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.ppleft {
    width: 45%;
}

.pppic {
    width: 100%;
}

.pppic img {
    object-fit: contain;
    height: 400px;
}

.ppright {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ppr-1 {
    font-size: 27px;
    font-weight: 700;
    color: #000;
    text-align: center;
}
.ppr-2 {
    font-size: 27px;
    font-weight: 700;
    color: #000;
    text-align: center;
}
.ppr-3 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ppr-3 .sre {
    margin: .7rem .4rem;
    padding: 0 .2rem;
}

.ppr-3 .sre img {
    object-fit: contain;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
}

.ppr-4 {
    font-size: 16px;
    font-weight: 600;
    color: #000;
    text-align: center;
    margin: 1rem 0;
}

.ppr-5 .linkAnima {
    padding: 0;

}


@media screen and (max-width: 950px) {
    .ppcast {
    flex-direction: column;
    width: 100%;
}

.ppleft {
    width: 100%;
    margin-bottom: 3rem;
}

.ppright {
    width: 100%;
}

}



/* PODCAST END */


/* RECOMMENDATIONS  */


.recom-wrapper {
    width: 100%;
    background: #fff;
}

.recom-show {
    max-width: 80%;
    margin: auto;
}

.recom-case {
    margin: 5rem 0;
}

.recom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.recom1-txt {
    font-size: 2rem;
    color: #000;
    font-weight: 800;
}

.recom3-txt {
    font-size: 16px;
    color: #808080;
    text-align: center;
    font-weight: 600;
    font-style: italic;
}

.recom2 {
    margin: 3rem 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.recom2-case {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* width: 100%; */
    width: 32%;
}

.recom2-11 {
    margin-bottom: 1rem;
}

.recom2-11 .btn {
    font-size: 1rem;
    font-weight: 700;
    padding: .5rem .8rem;
    text-align: center;
}

.recom2-22 {
    font-size: 16px;
    font-weight: 500;
    text-align: center;
}


@media screen and (max-width: 950px) {
    .recom2 {
    margin: 3rem 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.recom2-case {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-bottom: 2rem;
}
.recom2-case:nth-child(3) {
    margin-bottom: 0;
}

.recom1-txt {
    font-size: 1.5rem;
}

}



/* RECOMMENDATIONS END */


/* COUNSELLING  */


.counsel-wrapper {
    width: 100%;
    background: url(../../assets/images/church4.jpg) no-repeat center center/cover;
    background-attachment: fixed;
}

.counsel-case {
    padding: 7rem 0;
    max-width: 80%;
    margin: auto;
}

.counsel-show {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}

.counsel1 {
    font-size: 2.5rem;
    font-weight: 800;
    color: #fff;
    margin-bottom: 1rem;
}
.counsel2 {
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    margin-bottom: 1rem;
}
.counsel3 .linkAnima {
    justify-content: flex-start;
    padding: 0;
}


@media screen and (max-width: 600px) {

    .counsel-case {
    padding: 7rem 0;
    max-width: 80%;
    margin: auto;
}

    .counsel1 {
    font-size: 1.5rem;
}
}


/* COUNSELLING END */





/* card  */

#pacard-wrapper {
    max-width: 85%;
    margin: auto;
}

.card_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.cardp {
    position: relative;
    height: 25rem;
    width: 100%;
    border-radius: 0.4rem;
    overflow: hidden;
    bottom: 3rem;
    cursor: pointer;
    box-shadow: 0 6px 10px rgb(0 0 0 / 8%), 
    0 0 6px rgb(0 0 0 / 5%);;
  }
  
.cardp:hover .text {
    transform: translateY(0rem);
    background-color: var(--grey_color);
  }
  
.cardp img {
    height: 100%;
    object-fit: cover;
    object-position: center center;
  }
  
.cardp .text {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    position: absolute;
    bottom: 0;
    height: 60%;
    width: 100%;
    transition: var(--transition);
    transform: translateY(9.5rem);
  }
  
.cardp .text p {
    font-size: 16px;
    color: #fff;
    margin-bottom: 0.5rem;
    display: inline-block;
  }
  
.cardp .text p:first-child {
    font-size: 1.3rem;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 1.5;
    margin-bottom: 2.5rem;
  }
  
 .cardp:hover .text p:first-child {
    margin-bottom: 0;
  }
  
.cardp .text a {
    justify-content: flex-start;
    padding: 0;
  }



                             /* ======= MEDIA QUERY ======= */

  @media screen and (max-width:1000px) { 

    /* ======= EVENT SECTION =======   */
    /* .denver_events_wrapper {
      width: 85%;
      flex-direction: column;
  } */

.card_wrapper {
      flex-direction: column;
  }

.card_wrapper .text {
    min-height: 40%;
    transform: translateY(0);
    background-color: var(--grey_color);
  }

 .cardp .text p:first-child {
    margin-bottom: 0;
  }
  
  } 
  

  @media screen and (max-width:600px) {  
    .ya-top {
    font-size: 2rem;
    margin-bottom: 5rem;
}
  }


/* card end */










