.min-group-showcase-1 {
    background: url('../../assets/images/stuu1.jpg') no-repeat center center/cover;
    height: 100vh;
    width: 100%;
}

.min-group-case-1 {
    background: rgba(0, 0, 0, .6);
    height: 100%;
}

/* @media screen and (max0width: 600px) {
    .min-group-showcase-1 {
    height: 70vh;
}
} */

/* students section 2  */


.stusec2-wrapper {
    background: #000;
    width: 100%;
}


.stusec2 {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.stu-left {
    width: 50%;
    position: relative;
    top: -5rem;
    left: 0;
    margin-bottom: 27rem;
}

.stu-pic {
    width: 90%;
    z-index: 3;
    position: absolute;
}

.stu-pic img {
    object-fit: cover;
    height: 400px; 
    z-index: 3;
}

.stu-shp {
    clip-path: polygon(0 0, 100% 0%, 79% 100%, 0% 100%);
    height: 250px;
    width: 100%;
    background: var(--primary_color);
    position: absolute;
    top: 12rem;
    z-index: 1;
}


.stu-right {
    width: 40%;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 2.5rem;
}

.stu-txt1 {
    font-size: 25px;
    font-weight: 700;
    margin-top: 2.5rem;
    margin-bottom: 1rem;
}


.stu-txt2 {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 1rem;
    line-height: 1.7;
}

.stu-txt3 {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.7;
}


@media screen and (max-width: 950px) {
    .stusec2 {
        flex-direction: column;
        max-width: 85%;
        margin: auto;
    }

    .stu-left {
    width: 100%;
    margin-bottom: 17rem;
}

.stu-pic {
    width: 95%;
    left: 13px;
}
.stu-pic img {
    width: 95%;
    height: 300px;
}

.stu-shp {
    height: 150px;
    width: 100%;
    background: var(--primary_color);
    position: absolute;
    top: 12rem;
    z-index: 1;
}

.stu-right {
    margin-left: 0;
    width: 100%;
    margin-bottom: 5rem;
}

}


@media screen and (max-width: 600px) {
    .stu-pic img {
    width: 95%;
    height: 180px;
}

.stu-pic {
    width: 95%;
}

.stu-left {
    width: 100%;
    top: -3rem;
    margin-bottom: 10rem;

}

.stu-shp {
    height: 110px;
    top: 6rem;
}

}


/* students section 2 end */




/* nxt gen  */


.nxtgen-wrapper {
    width: 100%;
    background: #fff;
}

.nxtgen {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 6rem;
}

.nxtgen-right {
    width: 55%;
    position: relative;
    margin-bottom: 33rem;
}

.nxt-pic img {
    object-fit: cover;
    height: 400px; 
    z-index: 3;
}

.nxt-pic {
    width: 95%;
    position: absolute;
    right: 0;
    z-index: 3;
}

.nxt-shp {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 24% 100%);
    height: 250px;
    width: 100%;
    background: var(--primary_color);
    position: absolute;
    z-index: 1;
    top: 12rem;
}

.nxtgen-left {
    width: 30%;
    margin-right: 2.5rem;
}

.nxt-l1 {
    font-size: 25px;
    font-weight: 700;
    color: #000;
    margin-bottom: 1rem;
}

.nxt-l2 {
    font-size: 16px;
    font-weight: 600;
    color: #000;
    margin-bottom: 1rem;
}


@media screen and (max-width: 950px) {
    .nxtgen {
    max-width: 85%;
    margin: auto;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    margin-top: 6rem;
}

.nxtgen-right {
    width: 100%;
    margin-bottom: 30rem;
}

.nxt-pic img {
    height: 370px; 
}

.nxt-pic {
    width: 95%;
    right: 10px;
}

.nxt-shp {
    height: 250px;
    top: 10rem;
}

.nxtgen-left {
    width: 90%;
    margin: auto;
    margin-right: 0;
    margin-bottom: 4rem;
}

.nxt-l3 .btn, .nxt-l4 .btn {
    font-size: 17px;
}

}


@media screen and (max-width: 600px) {
    

    .nxt-pic img {
    height: 210px; 
}

.nxt-shp {
    height: 150px;
    top: 5rem;
}

.nxtgen-right {
    width: 100%;
    margin-bottom: 17rem;
}

}



/* nxt gen end */




/* kids news letter  */


.kid-news-wrapper {
    max-width: 80%;
    margin: auto;
    background: #fff;
}

.kid-news-txt {
    font-size: 3.3rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 3rem;
}


@media screen and (max-width: 950px) {
    .kid-news-txt {
    font-size: 2.3rem;
    margin-bottom: 3rem;
}
}

@media screen and (max-width: 600px) {
    .kid-news-txt {
    font-size: 1.6rem;
    margin-bottom: 3rem;
}

.kid-news-wrapper {
    max-width: 90%;
}
}

/* kids news letter end */



/* news letter form  */

.newsform-wrapper {
    max-width: 70%;
    margin: auto;
}

.newsform-case {
    margin-bottom: 5rem;
}

.newsform {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.news-left {
    width: 45%;
    border-bottom: #000 solid 1px;
    padding-bottom: 4rem;
}

.nl-a {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 2rem;
    text-align: center;
}

.news-right {
    width: 45%;
    border-bottom: #000 solid 1px;
    padding-bottom: 4rem;
}

.nl-b {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}

.nl {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 1.7rem;
}

.nl1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: .3rem;
}

.ft-1 {
    font-size: 1.1rem;
    font-weight: 500;
    color: #000;
}

.ft-2 {
    background-color: var(--primary_color);
    border-radius: 50%;
    width: 6px;
    height: 6px;
    margin-left: .4rem;
}


.nl2 input {
    /* width: 400px; */
    width: 100%;
    height: 2.5rem;
    border-radius: 5px;
    border: #9b9696 solid 1px;
}

.nl2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* width: 400px; */
}

.sinn {
    padding: .3rem .6rem;
    border: #9b9696 solid 2px;
    border-right: none;
    height: 2.54rem;
    background: #EFEFEF;
    border-radius: 5px 0 0 5px;
}

.nl2 .zinn {
    border-radius: 0 5px 5px 0;
}

.nl-b .btn {
    font-size: 1.1rem;
}


#campp {
    width: 100%;
    height: 2.5rem;
    border-radius: 6px;
    font-size: 1.1rem;
}




@media screen and (max-width: 800px) {
    .newsform {
    flex-direction: column;
    justify-content: center;
}

.news-left {
    width: 100%;
    margin: auto;
    margin-bottom: 4rem;
}
.news-right {
    width: 100%;
    margin: auto;
}

.newsform-wrapper {
    max-width: 80%;
}

.nl-b {
    justify-content: flex-start;
    align-items: center;
}
}




/* news letter form End */

